<div>
  <ul class="no-bullets">
    <li>
      <div class="single_project_container">
        <div class="left_partition">
          <div class="padd">
            <span>
              <a class="name abc" href=""> {{ item.name }} </a>
            </span>
            &nbsp;&nbsp;
            <span class="days">{{ item.days }} </span>
          </div>
          <p class="description">{{ item.description }}</p>
          <p>
            <a class="abc" href="#"> {{ item.tag1 }} </a>
            &nbsp;&nbsp;&nbsp;
            <a class="abc" href="#"> {{ item.tag2 }} </a>
            &nbsp;&nbsp;&nbsp;
            <a class="abc" href="#"> {{ item.tag3 }} </a>
            &nbsp;&nbsp;&nbsp;
            <a class="abc" href="#"> {{ item.tag4 }} </a>
          </p>
        </div>
        <div class="right_partition">
          <div class="padd2">
            <span class="price">{{ item.price }}</span
            >&nbsp;&nbsp;
            <span class="text">{{ item.text }}</span>
          </div>
          <p class="bids">{{ item.bids }}</p>
        </div>
      </div>

      <!-- <div>
        <div>
          <p>hdskajfjlkasdjs</p>
        </div>
      </div> -->
    </li>
  </ul>
</div>
